body{
	
	background: #000d1a url(../images/Space.jpg) repeat-x;
	
}

/* Wrap */
	#wrap {
		width: 800px;
		margin: 0px auto 10px auto;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #FFC300;
		}

/*Content -- middle headers*/
#content {
	color: #FFC300;
	background: #581845;
}

/*Paragraph -- font*/

#content p {
	width 800px;
	text-align: justify;
	color: #FFC300;
	padding: 0px 10px 0px 10px;

}

/*List*/

#content ol, #content ul {
	margin: 0px 0px px 15px;
}

/* Table -- taulukot */

#content table {
	border: 3px solid #FF5733;
	margin: 0px 0px 5px 40px;
	border-collapse: collapse;
	background: #C70039;
}

#content th {
	border: 3px solid #FF5733;
	padding: 5px 10px 5px 10px;
}

#content td {
	border: 1px solid #FF5733;
	padding: 5px 10px 5px 10px;
}

/* Form */
#content form {
	margin: 5px 0px 5px 40px;
	padding: 5px 0px 10px 0px;
}


/* Header */
h1, h2, h3, h4, h5, h6, h7 {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px 0pc 0px 20px;
}

#content h1 {
	font-size: 28px;
}

#content h2 {
	font-size: 24px;
}

#content h3 {
	font-size: 20px;
}

/* Centering (images etc.) */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
		}



/* Header images */
#header {
	margin: 50px 0px 0px 0px;
	height: 75px;
	background: url(../images/ahkiaasoheader.jpg) no-repeat center top;
	clear: both;
}

#contact {
	margin: 50px 0px 0px 0px;
	height: 75px;
	background: url(../images/getintouch.jpg) no-repeat center top;
	clear: both;
}



/* Header Menu */
#topbar {
	height: 80px;
}

#topmenu {
	display: block;
	list-style: none;
	padding: 5px 0px 5px 0px;
	float: right;
	width: 700px;
	max-width: 700px;
	background-color: #C70039;
	position: fixed;
}

#topmenu li {
	display: inline;
}

#topmenu a {
	display: block;
	float: left;
	height: 35px;
	margin: 0px 0px 0px 5px;
	font-weight: bold;
	text-decoration: underline dotted #DC143C;
	padding: 10px 15px 0px 15px;
	text-align: center;
}

#topmenu a, #topmenu a:visited, #topmenu a:active {
	color: #DC143C;
}

#topmenu a:hover {
	color: #C70039;
	background-color: #DC143C;
}

/* Footer */
#footer {
	margin: 0 auto;
	width: 680px;
	height 50px;
	padding: 10px;
	color: #F08080;
	text-align: center;
	background: #800000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	clear: both;
}


/* Image */
img {
	margin: 25px;
	height: auto;
	width: auto;
	max-width: 350px;
	max-height: 350px;
}

/* box-sizing: border-box on all elements */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}




             
          
